%p
  Questions list:

.questions-list
  %ul
    - @questions.each do |question|
      %li= render 'question_link', question: question

- if policy(Question).create?
  %p= link_to "Add Question", new_question_path
