%p
  Questions list:

%p
  - @questions.each do |question|
    %ul
      %tr= link_to question.title, question_path(question)

- if user_signed_in?
  %p
    = link_to "Add Question", new_question_path
