<% if @answer.destroyed? %>
  $('.notice').append("<p>Your answer was successfully destroy.</p>")
  $('.answers').find('#answer-id-<%= @answer.id %>').remove();
<% else %>
  $('.notice').append("<p >Your can't delete answer </p>")
<% end %>
